* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --primary: #5cdb95;
  --secondary: #05386b;
}
body {
}

.App {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to top left, #05386b, #3bdc83);
}

.header {
  /* position: fixed; */
  width: 100%;
  padding: 20px;
  color: var(--secondary);
  background-image: linear-gradient(to top left, #3bdc83, #05386b);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.header nav .logo {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #edf5e5;
  font-weight: 700;
  font-size: 32px;
}

.header nav img {
  width: 80px;
}

.header nav .types-header {
  display: flex;
  gap: 30px;
}

.header nav .types-header span {
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: var(--secondary);
}
.header nav .types-header span:hover {
  background-color: white;
  transition: ease-in-out 0.7s;
  color: var(--secondary);
}

.icon {
  display: none;
}

.main-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.main-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
  /* border: 1px solid; */
  width: 75%;
}

.main-content .list {
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
}

.main-content .inputForm {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.main-content .inputForm .form {
  /* border: 1px solid; */
}
.main-content .inputForm .form input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.table {
  /* border: 1px solid; */
  width: 100%;
  /* background-color: var(--secondary); */
  color: white;
}

.table th {
  font-size: 20px;
  padding: 10px 5px;
  border: 1px solid;
  /* width: 33.3%; */
}
.table .date-column {
  width: 20%;
}
.table .name-column {
  width: 50%;
}
.table .amount-column {
}
@media (max-width: 486px) {
  .header {
    padding: 5px;
  }
  .header nav {
    font-size: 16px;
    position: relative;
  }
  .header nav .logo {
    font-size: 20px;
  }
  .header nav img {
    width: 65px;
    border-radius: 10px;
  }
  .header nav .types-header {
    display: none;
    gap: 5px;
  }

  .header nav .types-header-responsive {
    display: block;
    text-align: center;
    width: 102%;
    position: absolute;
    top: 55px;
    right: 0px;
    background-color: var(--secondary);
    color: white;
  }
  .header nav .types-header-responsive span {
    display: block;
    padding: 15px 10px;
    border-bottom: 1px solid;
  }

  .icon {
    display: block !important;
    color: white;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
  }

  .main-content {
    flex-direction: column-reverse;
    justify-content: start;
    width: 95%;
  }
  .main-content .list {
    width: 100%;
  }

  .main-content .inputForm {
    width: 100%;
  }
}
